<p id="notice"><%= notice %></p>

<h1>Listing Categories</h1>

<%= form_for @user do |f| %>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
  
  <tbody>
      <%= f.fields_for :user_categories do |c| %>
      <tr>
        <td>
          <!-- <= builder.object.inspect %> -->
        </td>
        <td> <%#= c.user_categories.count %>
          <%# if c.user_categories.count > 0 %>
                 <%= c.name %> <%= c.select :rating, 
                  [["Pick", nil], 
                   ["1", 1], 
                   ["2",2], 
                   ["3", 3]], 
                  {} %>
                
            <br>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>
<br>
<%= f.submit %>
<% end %>

<br>

<%#= link_to 'New Category', new_category_path %>
